
body {
    min-height: 100%;
    margin: 0;
    padding: 0
    
}

.container-fluid{
    min-height: 100vh;
}

/* brand colour*/
:root{
    --sl-red: #CC0000;
    --sl-red-dark: #990000;
}

/*Navigation bar*/
.navbar{
    background: var(--sl-red);
    border-bottom: 3px solid var(--sl-red-dark);
    height:75px;
    
}

/*sportslink logo*/
.logo{
    color:white;
}

/*sidebar navgation*/
.sidebar{
    background: var(--sl-red);
    border-bottom: 3px solid var(--sl-red);
    height: 100vh;
    overflow-y: auto;
}

/*Main login form*/
.Sform{
    border: 2px solid black;
    padding: 24px; 
    max-width: 500px;

}

.Lform{
    border: 2px solid black;
    padding: 24px; 
    max-width: 500px;
}

/*Login button*/
.btn-login{
    background: var(--sl-red);
    border-color: 1px solid white;
    border-radius: 8px;
    padding: 10px 20px;
}

/*Signup button*/
.btn-signup{
    background: var(--sl-red);
    border-color: 1px;
    border-radius: 8px;
    padding: 10px 20px;      
}

.rounded-circle{
    width: 100px;
    height: 100px;
    background-color: gray;

}

